<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lix.mapper.CollegeMapper">
  <resultMap id="BaseResultMap" type="com.lix.entity.College">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="collegeID" jdbcType="INTEGER" property="collegeid" />
    <result column="collegeName" jdbcType="VARCHAR" property="collegename" />
  </resultMap>
  


</mapper>